
/* Стили для основного контейнера */
.container {
    max-width: 900px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера по горизонтали */
    padding: 40px; /* Внутренний отступ контейнера */
    margin-top: 10%; /* Верхний отступ 10% */
}

/* Стили для групп форм */
.form-group {
    margin-bottom: 20px; /* Нижний отступ для промежутка между группами форм */
}

/* Стили для меток групп форм */
.form-group label {
    display: block; /* Отображение меток в виде блочных элементов */
    margin-bottom: 5px; /* Нижний отступ для промежутка под метками */
    font-weight: bold; /* Жирный текст для меток */
}

/* Стили для элементов управления формами */
.form-control {
    width: 40%; /* Ширина элементов управления формами */
    padding: 8px; /* Внутренний отступ элементов управления формами */
    font-size: 16px; /* Размер шрифта элементов управления формами */
    border: 1px solid #ccc; /* Граница вокруг элементов управления формами */
    border-radius: 4px; /* Радиус границы для скругленных углов */
}

/* Стили для групп кнопок */
.btn-group {
    margin-top: .0001px; /* Верхний отступ для промежутка над группами кнопок */
    margin-bottom: 20px; /* Нижний отступ для промежутка под группами кнопок */
}

/* Стили для кнопок */
.btn {
    padding: 10px 20px; /* Внутренний отступ кнопок */
    font-size: 16px; /* Размер шрифта кнопок */
    border: none; /* Без границы для кнопок */
    border-radius: 4px; /* Радиус границы для скругленных углов на кнопках */
    cursor: pointer; /* Стиль курсора при наведении на кнопки */
}

/* Стили для основных кнопок */
.btn-primary {
    background-color: #007bff; /* Цвет фона для основных кнопок */
    color: #fff; /* Цвет текста для основных кнопок */
}

/* Стили для опасных (красных) кнопок */
.btn-danger {
    background-color: #dc3545; /* Цвет фона для опасных кнопок */
    color: #fff; /* Цвет текста для опасных кнопок */
}