/* Стили для контейнера */
.container {
    max-width: 900px; /* Установить максимальную ширину для контейнера */
    margin: 0 auto; /* Центрировать контейнер по горизонтали */
    padding: 40px; /* Добавить отступы внутри контейнера */
    margin-top: 10%; /* Установить верхний отступ как процент от высоты окна просмотра */
    overflow: hidden; /* Скрыть любое выходящее содержимое */
}
/* Стили для иконки видимости пароля */
.password-visibility {
    position: relative; /* Установить позицию относительно её нормального положения */
    top: -39px; /* Переместить элемент на 39 пикселей вверх */
    left: 92%; /* Переместить элемент на 92% вправо */
    cursor: pointer; /* Изменить курсор на указатель при наведении */
    font-size: 17px; /* Установить размер шрифта */
}
/* Стили для сеточного макета формы регистрации */
.signup-grid {
    display: grid; /* Использовать сеточный макет для элемента */
    grid-template-columns: 0.1fr 1.5fr 8fr; /* Определить колонки с дробными ширинами */
    grid-gap: 10px; /* Установить промежуток между элементами сетки */
}
/* Стили для основного текста регистрации */
.signup-text {
    margin-top: 30px; /* Добавить верхний отступ */
    grid-column: 1 / 4; /* Занять все три колонки */
    text-align: center; /* Центрировать текст */
}
/* Стили для дополнительного текста регистрации */
.signup-text1 {
    grid-column: -1 / 3; /* Занять со второй по третью колонку с конца */
    text-align: right; /* Выравнивание текста по правому краю */
}
.signup-text1 span {
    color: #3c79a7; /* Установить цвет текста */
    font-weight: 600; /* Установить жирный шрифт */
    cursor: pointer; /* Изменить курсор на указатель при наведении */
}
/* Стили для секции формы регистрации */
.signup-form {
    grid-column: 2 / 4; /* Занять со второй по четвертую колонку */
}
/* Стили для общего контейнера регистрации */
.signup {
    flex: 1; /* Использовать гибкий макет для заполнения доступного пространства */
    background-color: #fff; /* Установить цвет фона на белый */
    padding: 40px; /* Добавить отступы внутри элемента */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавить тень с непрозрачностью */
}
/* Стили для заголовка регистрации */
.signup h1 {
    margin-bottom: 20px; /* Добавить нижний отступ к заголовку */
    text-align: center; /* Центрировать текст */
    color: #3c79a7; /* Установить цвет текста */
    letter-spacing: .1em; /* Добавить межбуквенное расстояние */
}
/* Стили для текста роли в регистрации */
.signup-role {
    font-size: 16px; /* Установить размер шрифта */
    margin-bottom: 10px; /* Добавить нижний отступ */
}
/* Стили для групп форм в форме регистрации */
.form-group {
    margin-bottom: 20px; /* Добавить нижний отступ к группам форм */
}
.form-group label {
    display: block; /* Отображать метки как блочные элементы */
    margin-bottom: 5px; /* Добавить нижний отступ к меткам */
    font-weight: bold; /* Установить жирный шрифт для меток */
}
/* Стили для элементов управления формой в форме регистрации */
.form-control {
    width: 40%; /* Установить ширину элементов управления формой */
    padding: 8px; /* Добавить отступы внутри элементов управления формой */
    font-size: 16px; /* Установить размер шрифта */
    border: 1px solid #ccc; /* Добавить рамку с цветом */
    border-radius: 4px; /* Добавить радиус рамки для закругленных углов */
}
/* Стили для группы кнопок в форме регистрации */
.btn-group {
    margin-top: .0001px; /* Добавить небольшой верхний отступ к группе кнопок */
    margin-bottom: 20px; /* Добавить нижний отступ к группе кнопок */
}
/* Стили для кнопок в форме регистрации */
.btn {
    padding: 10px 20px; /* Установить отступы для кнопок */
    font-size: 16px; /* Установить размер шрифта для кнопок */
    border: none; /* Удалить рамки кнопок */
    border-radius: 4px; /* Добавить радиус рамки для закругленных углов */
    cursor: pointer; /* Изменить курсор на указатель при наведении */
}
/* Стили для основной кнопки в форме регистрации */
.btn-primary {
    background-color: #007bff; /* Установить цвет фона для основной кнопки */
    color: #fff; /* Установить цвет текста для основной кнопки */
}
/* Стили для кнопки опасности в форме регистрации */
.btn-danger {
    background-color: #dc3545; /* Установить цвет фона для кнопки опасности */
    color: #fff; /* Установить цвет текста для кнопки опасности */
}